<div class="bar bar-subheader bar-assertive">
  <h2 class="title"></h2>
</div>
<ion-content class=" has-subheader">
  <div class="row row-center">
    <div class="card col col-50 col-offset-25">
  <div class="item item-divider assertive">
    Erreur de connexion au serveur
  </div>
  <div class="item item-text-wrap">
    <p>
      Une erreur de connexion au serveur a été détéctée, veuillez vérifier l'état de la connexion Wifi de l'iPad au réseau du Cente d'échographie des carmes.
    </p>
  </div>
</div>

  </div>
</ion-content>
<ion-footer-bar align-title="center" class="bar-positive" >
  <a class="title positive" ng-click="back()">Réessayer</a>
</ion-footer-bar>
